/** 
* WPoint
*
* @project WPoint
* @version 1.0 
* @package layout 
* @author Wellington Viveiro (http://www.wviveiro.com.br)
*/ 

/*---------- Standard Class -------------
.seletor {
	alphabetical order
}
  ---------- Standard Class -------------*/

@charset "utf-8";

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: Arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*body {
    background:#CCC;
    display:block;
	line-height: 1;
    overflow: hidden;
    position:absolute;
    top:0px; bottom:0px;
    left:0px; right:0px;
    border:solid 5px #F00;
}*/

.main-general{
    background:#CCC;
    display:block;
    line-height: 1;
    overflow: hidden;
    position:absolute;
    top:0px; bottom:0px;
    left:0px; right:0px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{ cursor:pointer; }
/* END RESET CSS */

.main-page{
    background:#4a74a8;
    left:0; right:0;
    position:absolute;
    top:0px; bottom:0px;
}